body{
  background: #672d80;
}
h1{
  color: #91b9f4;
  font-family: 'Inconsolata', monospace;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar{
    display: flex;
    background-color: #a447cc;
    height: 80px;
    width: 310px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.input {
    z-index: 1;
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: white;
    max-width: 190px;
    margin-top: 17px;
    margin-left:17px;
    height: 20px;
    font-size: large;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }


.weather-info{
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.fields{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 4px;
}
.separator {
  width: 85%;
  height: 1px;
  background: black;
  margin: 16px 20px;
}

.cityName{
    font-size: 50px;
    font-display: bold;
    margin-top: 8px;
    text-align: center;
}

.temp-dsc{
    margin-top: 30px;
    font-size: 33px;
    text-transform: capitalize;
    margin-top: 25px;
}

.components{
  display: flex;
}

.component-text{
  margin-top: 25px;
  flex:1;
}
.component-img{
  max-width: 100%;
  height: auto;
}

.img{
  margin-bottom: 50px;
}

   .card {
    position: relative;
    width: 400px;
    height: 370px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #7a64f7, -20px -20px 60px #7a64f7;
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 390px;
    height: 390px;
    z-index: 2;
    background: rgba(165, 72, 205, 0.95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 1px solid #a548cd;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #d87af6;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  


  